{{#if logged}}
    <div>
        <div>You are logged in</div>
        <a href="/logout">Logout</a>
    </div>
{{else}}
    <div>
        <div>You are not logged in</div>
        <a href="/login">Logged In</a>
    </div>
{{/if}}